body {
  box-sizing: border-box;
  /* background-color: rgb(134, 201, 252); */
  background-image: url(./sky-mvehfqz6w2ges2dj.jpg);
}

#div-main {
  background-color: rgb(38, 197, 233);
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 340px;
  height: 350px;
  margin-left: 500px;
  padding-top: 15px;
  padding-bottom: 100px;
}
#weather {
  background-color: rgb(4, 12, 14);
  color: white;
  font-weight: bold;
  width: 259px;
  height: 35px;
  border: 1px solid black;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding-left: 15px;
  margin: 4px;
}
#btn {
  /* margin-right: 20px; */
  border: 2px solid rgb(16, 126, 151);
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  font-size: large;
  height: 40px;
  width: 50px;
  position: relative;
  right: 10px;
  background-color: rgb(134, 201, 252);
  color: white;
}
.main {
  display: inline-flex;
}
.img1 {
  width: 100px;
  margin-left: 33%;
}
.img2 {
  width: 300px;
  height: 60px;
  margin-left: 20px;
  /* margin-bottom:0px; */
}
img {
  display: block;
}

@media (max-width: 500px) {
  #div-main {
    background-color: rgb(38, 197, 233);
    margin-top: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
    height: 370px;
    margin-left: 30px;
    padding-top: 15px;
  }
  #weather {
    height: 40px;
    width: 150px;
  }
  #btn {
    height: 40px;
  }
  .img2 {
    margin-left: 10px;
    width: 230px;
  }
  .img1 {
    width: 100px;
    /* margin-left: 20%; */
  }
  h1 {
    font-size: xxx-large;
  }
  img {
    width: 150px;
  }
}
